* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  width: 1200px;
  margin: 0 auto;
}

header, nav, footer {
  height: 50px;
  line-height: 50px;
  border: 1px solid red;
  text-align: center;
}

main {
  display: flex;
}

aside {
  flex-basis: 0;
  flex-grow: 1;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

section {
  flex-basis: 0;
  flex-grow: 6;
  min-height: 800px;
  background-color: #fafafa;
  padding: 10px;
}